
<mat-tab-group [selectedIndex]="selected.value"
               (selectedIndexChange)="selected.setValue($event)">

  <mat-tab label="Login" >
    <app-login-ang></app-login-ang>
  </mat-tab>


  <mat-tab label="Signup" >
    <app-signup-ang></app-signup-ang>
  </mat-tab>

  <mat-tab label="Exercices Cards" >
    <app-current-training-antng></app-current-training-antng>

  </mat-tab>


  <mat-tab label="Exercices Table" >
    <app-training-antng></app-training-antng>
  </mat-tab>

</mat-tab-group>
