mat-sidenav-container,mat-sidenav,mat-sidenav-content{
  height: 100%;
}
html,body{
  font-family: 'Roboto',sans-serif;
}
mat-sidenav{
  width: 250px;
}

a{
  text-decoration: none;
  color: darkblue;
}
a:hover,a:active{
  color:darkred;
}

.navigation-items{
  list-style: none;
  margin: 0;
  padding: 0;
}
mat-nav-list{
  margin-top: 10px;
}

mat-list-item:hover{
  color: cornflowerblue;
}
.nav-caption{
  display: inline-block;
  padding-left: 6px;

}
