
<mat-sidenav-container>

  <mat-sidenav #sidenav role="navigation">

    <mat-nav-list>
      <a mat-list-item  *ngIf="isAuth" routerLink="/training/primeng" (click)="sidenav.close() ">
      <mat-icon>face</mat-icon>
      <span class="nav-caption">PrimeNg</span>
    </a>
      <a mat-list-item  *ngIf="isAuth" routerLink="/training/ngMaterial" (click)="sidenav.close() ">
        <mat-icon>face</mat-icon>
        <span class="nav-caption">Material</span>
      </a>
      <a mat-list-item  *ngIf="isAuth" routerLink="/training/antng" (click)="sidenav.close() ">
        <mat-icon>face</mat-icon>
        <span class="nav-caption">Zoro ng</span>
      </a>
      <a mat-list-item  *ngIf="!isAuth" routerLink="/signup" (click)="sidenav.close() ">
        <mat-icon>face</mat-icon>
        <span >Signup</span>
      </a>
      <a  mat-list-item *ngIf="!isAuth" routerLink="/login" (click)="sidenav.close() && logout() ">
        <mat-icon>face</mat-icon>
        <span class="nav-caption">Login</span>
      </a>
      <a  mat-list-item   *ngIf="isAuth" (click)="sidenav.close() && logout() ">
        <mat-icon>logout</mat-icon>
        <span class="nav-caption">Logout</span>
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar >

      <div>
        <a routerLink="/">
        <img  style="display: flex;max-height: 66px" src="../assets/images/logo.png" alt=""/>
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" >
        <button  fxHide.sm fxHide.md fxHide.gt-xs  mat-icon-button (click)="sidenav.toggle()" >
          <mat-icon>
            list
          </mat-icon>
        </button>
        <ul  fxLayout fxLayoutGap="10px" fxHide.xs  class="navigation-items">
          <li><a routerLink="/signup" *ngIf="!isAuth">Signup</a></li>
          <li><a routerLink="/login" *ngIf="!isAuth">Login</a></li>
          <li> <a routerLink="/training/primeng" *ngIf="isAuth">PerimeNg</a></li>
          <li> <a routerLink="/training/ngMaterial" *ngIf="isAuth">Material</a></li>
          <li> <a routerLink="/training/antng" *ngIf="isAuth">Zoro ng </a></li>

          <li> <a  (click)="logout()" *ngIf="isAuth" style="cursor:pointer;">Logout</a></li>
        </ul>

      </div>
    </mat-toolbar>
    <main style="margin-top: 65px;">
      <router-outlet></router-outlet>

    </main>

  </mat-sidenav-content>
</mat-sidenav-container>
