
<div fxLayoutAlign="center center" fxLayout="column" style="height: 100%;width: 100%">

  <div fxLayoutAlign="center center"    fxLayout="column"   style="height: 400px;">
    <div style="align-items: center;margin-top: 20px;margin-bottom: 25px;" >
      <h2 style="color:#3F51B5">Login</h2>
    </div>
    <div>
      <div class="ui-inputgroup" style="margin-bottom: 20px;">
        <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
        <input type="text" pInputText placeholder="Username" style="width:250px;">
      </div>
    </div>
    <div>
      <div class="ui-inputgroup" >
        <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
        <input type="text" pInputText placeholder="Password" style="width: 250px;">
      </div>
    </div>
  <div style="margin-top: 10px;"  fxLayout="row wrap" fxLayoutGap="10px" >
    <button  pButton type="button" label="Login" class="ui-button-info"   ></button>
    <button pButton type="button" label="Reset" class="ui-button-danger" ></button>
  </div>
  </div>



  <div fxLayoutAlign="center center"    fxLayout="column"   style="height: 400px;">
    <div style="align-items: center;margin-top: 20px;margin-bottom: 25px;" >
      <h2 style="color:#3F51B5">Signup</h2>
    </div>
    <div>
      <div class="ui-inputgroup" style="margin-bottom: 20px;">
        <input type="text" pInputText placeholder="Username" style="width:250px;">
        <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>

      </div>
    </div>
    <div>
      <div class="ui-inputgroup" style="margin-bottom: 20px;" >
        <input type="text" pInputText placeholder="Password" style="width: 250px;">
        <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>

      </div>
    </div>
    <div fxLayout="row wrap" style="width: 100%;margin-bottom: 20px;">
      <div>
        <p-calendar    [inputStyle]="{'width':'250px'}"  placeholder="Your Birth Date"   [showIcon]="true"   >

        </p-calendar>


      </div>


    </div>

    <div >
      <div>
        <p-checkbox label="chek you signup" name="signupcheck" value="Signup" ></p-checkbox>

      </div>
    </div>

    <div style="margin-top: 10px;"  fxLayout="row wrap" fxLayoutGap="10px" >
      <button  pButton type="button" label="Login" class="ui-button-info"   ></button>
      <button pButton type="button" label="Reset" class="ui-button-danger" ></button>
    </div>
  </div>





  <!--CARDDDD VIEW-->





</div>
