
<div fxLayoutAlign="center center"    fxLayout="column"   style="height: 400px;">
  <div style="align-items: center;margin-top: 20px;margin-bottom: 25px;" >
    <h2 style="color:#3F51B5">Login</h2>
  </div>
  <div>
    <div class="ui-inputgroup" style="margin-bottom: 20px;">
      <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
      <input type="text" pInputText placeholder="Username" style="width:250px;">
    </div>
  </div>
  <div>
    <div class="ui-inputgroup" >
      <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
      <input type="text" pInputText placeholder="Password" style="width: 250px;">
    </div>
  </div>
  <div style="margin-top: 10px;"  fxLayout="row wrap" fxLayoutGap="10px" >
    <button  pButton type="button" label="Login" class="ui-button-info"   ></button>
    <button pButton type="button" label="Reset" class="ui-button-danger" ></button>
  </div>
</div>
