

<div
  fxLayoutAlign="center center"
  fxLayout.lt-md="row wrap"
  fxLayout.md="row wrap"
  fxLayout.xs="column"
  fxLayout.gt-md="row wrap"
  fxLayoutGap="10px"

  style="margin-bottom: 20px;margin-top: 20px"
>

  <nz-card

    *ngFor="let exercice of exercices"
    [nzActions]="[actionSetting, actionEdit, actionEllipsis]"
    class="example-card"  fxLayout="column"
    fxFlex.md="30"
    fxFlex.xs="50"
    fxFlex.lg="20"
    fxFlex.sm="30"
    fxFlex.gt-lg="20"
    nzHoverable style="width:240px" [nzCover]="coverTemplate"
    style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
    <nz-card-meta
      [nzTitle]="exercice.name"
      [nzDescription]="exercice.description"
      [nzAvatar]="avatarTemplate"
    ></nz-card-meta>
    <ng-template #avatarTemplate>
      <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
    </ng-template>
    <ng-template #coverTemplate>
      <img alt="example" src="../../../assets/images/logo.png" />
    </ng-template>
    <ng-template #actionSetting>
      <i nz-icon nzType="setting"></i>
    </ng-template>
    <ng-template #actionEdit>
      <i nz-icon nzType="edit"></i>
    </ng-template>
    <ng-template #actionEllipsis>
      <i nz-icon nzType="ellipsis"></i>
    </ng-template>
  </nz-card>

</div>




