<div fxLayout="column" fxLayoutAlign="center center" xmlns="http://www.w3.org/1999/html" >

  <section  class="welcomtittle">
    <a routerLink="/login">
      <h1>WELCOME TO ANGULAR BEREXIA FORMATION 2020 </h1>
    </a>
  </section>



<div class="welcome"
     fxLayout="column"
     fxLayout.gt-md="row"
     fxLayout.gt-sm="row"
     fxLayoutAlign="center center"
     fxLayoutGap="10px"
>



  <section>
    <h1 >Activity</h1>
    <p>Stay active and enjoy better health and more fun!</p>
  </section>

  <section>
    <h1>Community</h1>
    <p>Stay active and enjoy better health and more fun!</p>
  </section>

  <section>
    <h1>Chalenges</h1>
    <p>Stay active and enjoy better health and more fun!</p>
  </section>

</div>

  <div>
    <section class="about"   id="about" fxLayoutAlign="center center" fxLayout="column">
      <div class="container">
        <div fxLayoutAlign="center center" fxLayout="column" >
          <div fxFlex="60" fxLayoutAlign="center center" fxLayout="column">
            <h2 class="text-white mt-0" style="color:white!important;    font-size: 2.25rem;">We've got what you need!</h2>
            <p class="text-white-50 mb-4">
              Start Formation has everything you need to get your new website up and running in no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!
            </p>
          </div>
        <p>Get started!</p>
        </div>
      </div>
    </section>
  </div>
  <div fxHide.lt-sm>
    <h1 style="text-decoration: underline;

  text-shadow:1px 1px #3F51B5;
  font-size: 30px;
  color: #3F51B5;
  margin-bottom: 25px;
  margin-top: 25px;
">At Your service</h1> <br>
  </div>
  <div class="welcome"
       fxLayout="column"
       fxLayout.gt-md="row"
       fxLayout.gt-sm="row"
       fxLayoutAlign="center center"
       fxLayoutGap="50px"
       fxHide.lt-sm
  >



    <section>
      <h1 style="text-align: center" >Follow up</h1>
        <i class="material-icons" style="font-size: 150px;color: darkblue;">
          calendar_today
        </i>
      <h3 style="text-align: center; color:rgba(60, 55, 76, 0.75);" class="h4 mb-2">Up to Date</h3>

    </section>

    <section>
      <h1 style="text-align: center">Check your service </h1>

        <i class="material-icons" style="font-size: 150px;color: darkblue;">
          check_circle_outline

        </i>
      <h3 style="text-align: center;color:rgba(60, 55, 76, 0.75);" class="h4 mb-2">Up to Date</h3>

    </section>

    <section>
      <h1 style="text-align: center">Build your services</h1>

        <i class="material-icons" style="font-size: 150px;color: blue">
          build

        </i>
      <h3 style="text-align: center;color:rgba(60, 55, 76, 0.75);" class="h4 mb-2">Up to Date</h3>

    </section>

  </div>



</div>






