<div style="align-items: center;margin-top: 20px;margin-bottom: 25px;" >
  <h2 style="color:#3F51B5">Login</h2>
</div>

<div style="margin-bottom: 20px;">
  <input nz-input placeholder="Basic usage" style="width: 200px;"/>
  <br />
</div>
<div style="margin-bottom: 20px;">
  <input nz-input placeholder="Basic usage" style="width: 200px;" />
</div>
<div fxLayout.lt-sm="column" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="5px">
  <button nz-button nzType="primary" >Login</button>
  <button nz-button nzType="danger">Reset</button>
</div>

