<section>

        <form
          #form="ngForm"
          fxLayoutAlign="center center"
          fxLayout="column"

        >
          <div style="align-items: center" >
            <h1 style="color:#3F51B5">Add new training</h1>
          </div>
          <mat-form-field>
            <input type="text"  matInput name="id"  ngModel required placeholder="id"/>
          </mat-form-field>
          <div fxLayoutGap="10px" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="center center">
            <mat-form-field>
              <input type="text"  matInput name="name"  ngModel required placeholder="name"/>
            </mat-form-field>
            <mat-form-field>
              <input type="text"  matInput name="description"  ngModel required placeholder="description"/>
            </mat-form-field>
          </div>
          <mat-form-field>
          <input type="text"  matInput name="pathImage"  ngModel required placeholder="pathImage"/>
        </mat-form-field>
         <div fxLayoutGap="10px" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="center center">
           <mat-form-field>
             <input type="number"  matInput name="duration"  ngModel required placeholder="duration"/>
           </mat-form-field>
           <mat-form-field>
             <input type="number"  matInput name="calorires"  ngModel required placeholder="calories"/>
           </mat-form-field>
         </div>
          <div fxLayoutGap="10px" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="center center">
            <button mat-raised-button color="primary"   [disabled]="!form.valid" (click)="add(form)">
              Add
            </button>
            <button mat-raised-button color="warn"  (click)="form.reset()">
              Reset
            </button>
          </div>
        </form>

      </section>


